# Python
/backend/__pycache__/
/backend/*.py[cod]
/backend/*.egg-info/
/backend/.pytest_cache/

# Виртуальные окружения
/backend/venv/
/backend/venv_back/
/backend/.venv/
/backend/env/

# Окружение
/backend/.env

# База данных
/backend/database/*.db
/backend/database/*.sqlite

# OS
.DS_Store
Thumbs.db

/backend/PLAN.md