# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (на случай, если добавишь)
Pods/
Carthage/Build/
